*  {
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
    
    p{
        margin: 20px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    
    .container1 {
    width: 200px;
    height: 200px;
    margin:0 auto;
    margin-top: 200px;
    }
    
    .logo-box {
    width: 150px;
    height: 100px;
    background-color: #ff0000;    
    margin: 25% auto;
    border-radius: 20px;
    }